
<div class="container text-center" style="width: 30%;">
  <h1>Haznos llegar tus preguntas</h1>
  <br><br>
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Nombre:</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Tu nombre">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Correo Electrónico:</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="mimail@gmail.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Teléfono:</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="666 666 666">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Tu pregunta:</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br>
  <button type="reset" class="btn btn-secondary">Enviar Cuestionario</button>
</form>
</div>