
<div class="container text-center" style="width: 30%;">
  <h1>Haz tu pedido ahora</h1>
  <br><br>
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Nombre:</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Tu nombre">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Correo Electrónico:</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="mimail@gmail.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Teléfono:</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="666 666 666">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Dirección:</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="tu dirección">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Menú:</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <br>
  <button type="button" class="btn btn-secondary">Enviar Reserva</button>
</form>
</div>