<div class="container">
  <header class="jumbotron my-3">
    <h1 class="display-3">¿Qué es Catering Zotz?</h1>
    <p class="lead">
      Somos un equipo joven dedicado a dar servicio de catering a empresas y particulares. 
      Tenemos diferentes tipos de caterings; picnics o lunchbox para llevar, catering tipo cocktail y 
      servicio de vino español. Pero siempre estamos abiertos a tus necesidades. 
      Por otro lado, estamos totalmente concienciados con el medio ambiente, realizando todos los catering 
      con materiales reciclables y con el mínimo gasto de plástico posible. 
      Además, contamos con servicio de packaging, lo que facilita la sostenibilidad de nuestra empresa, 
      no se desperdicia comida.
    </p>
    
  </header> 
  
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">

        <div class="col-md-4" *ngFor="let menu of menus">
          <div class="card mb-4 shadow-sm">
            <img src="assets/img/{{menu.foto}}.jpg" width="100%" height="225">
            <div class="card-body">
              <h3 class="card-text">{{menu.nombre}}</h3>
              <p class="card-text">Id del menú: {{menu.id}}</p>
              <p class="card-text">{{menu.ingredientes_menu}}</p>

            </div>
          </div>
        </div>
        <div class="col-md-4">

        </div>
      </div>
    </div>
  </div>